<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Array testing">
    <test name="Services">
        <classes>
            <class name="test.com.ltp.shapes.service.impl.TypeCheckServiceImplTest"/>
            <class name="test.com.ltp.shapes.service.impl.CalculateServiceImplTest"/>
            <class name="test.com.ltp.shapes.service.impl.ReadingServiceImplTest"/>
        </classes>
    </test>

    <test name="Repositories">
        <classes>
            <class name="test.com.ltp.shapes.repository.TriangleRepositoryTest"/>
        </classes>
    </test>

    <test name="Parser">
        <classes>
            <class name="test.com.ltp.shapes.parser.ParserTest"/>
        </classes>
    </test>

    <test name="Validator">
        <classes>
            <class name="test.com.ltp.shapes.validator.ShapeValidatorTest"/>
        </classes>
    </test>
</suite>